.wwr{
 color:#fff;
}

.wwr h3{
  color:#fe7028
 }

.tab-content{
  color:#ddd
}

.back-to-top:hover {
  background: #000;
  color: #fff;
}

.navbar a, .navbar a:focus {
  font-size:12px !important;
}

.navbar-mobile{
margin-top:80px
}

/* #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/back2.jpg) top center no-repeat;
    background-size:cover;
    position: relative;
    padding-top: 82px;
} */

.services .icon-box img{
  float: left;
  width:60px ;
  height: 40px;
  line-height: 0;
}

/* .services .icon-box a{ */
.services .icon-box h4 a {
  color:  #fe7028;
  transition: 0.3s;
}

.services .icon-box h4 a:hover{
color: #ddd;
}
  

.blog .blog-pagination {
  color: #8795a4 !important;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog .blog-pagination  li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog .blog-pagination  li a {
  color: #556270;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-pagination  li.active, .blog .blog-pagination li:hover {
  background: #fe7028!important;
}
.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff !important;
}

.blog{
  margin-top:150px
}


/* .page-link {
  position: relative;
  display: block;
  color: #444444;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #444444;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .0s ease-in-out;
}

.page-link a:active{
       background-color: #fe7028;
       color: #fff;
} */


/* 

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/* .team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
  padding: 30px;
  border-radius: 4px;
  background: white;
}
.team .member .pic {
  overflow: hidden;
  width: 140px;
  border-radius: 4px;
}
.team .member .pic img {
  transition: ease-in-out 0.3s;
}
.team .member:hover img {
  transform: scale(1.1);
}
.team .member .member-info {
  padding-left: 30px;
}
.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #556270;
}
.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #dee2e6;
  bottom: 0;
  left: 0;
}
.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #8795a4;
}
.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}
.team .member .social a:hover {
  background: #d9232d;
}
.team .member .social a + a {
  margin-left: 8px;
} */

.events h2{
background-color: #fe7028;
color: #fff;
padding-top:20px;

}

.training ul{
  list-style: none;
  color:#343a40
}


.events i{
  color:#fe7028;
}

.events ul{
  list-style: none;
  color:#343a40
}

.events ul span{
font-weight: bolder;
font-size: 25px;

}


.events ul span .spe{
  font-weight: bolder;
  font-size: 30px;
  color:#fe7028
  }

  .spe{
    color:#fe7028
  }

.events .icon-box ul{
  list-style: none;
}


.events .icon-box {
  margin-bottom: 20px;
  /* padding: 10px; */
  border-radius: 6px;
  background: #252525;
  transition: 0.3s;
}
.events .icon-box:hover {
  background: #2b2b2b;
}
.events .icon-box i {
  float: left;
  color: #fe7028;
  font-size: 15px;
  line-height: 0;
}

.events .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.events .icon-box h4 a {
  color: #fff;
  transition: 0.3s;
}
.events .icon-box h4 a:hover {
  text-decoration: underline;
}
.events .icon-box .icon-box:hover h4 a {
  color: #fe7028;
}
.events .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}


.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #fe7028;
}

.contact .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fe7028;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  overflow: hidden;
}
.features .nav-tabs {
  border: 0;
}
.features .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  border-right: 2px solid #1b1b1b;
  font-weight: 600;
  font-size: 15px;
}
.features .nav-link:hover {
  border-color: #fff

}
.features .nav-link.active {
  color: #fe7028;
  border-color: #fe7028;
  background:#333231;
}
.features .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.features .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fe7028;
}
.features .details p {
  color: #fff;
}
.features .details p:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .features .nav-link {
    border: 0;
    padding: 15px;
  }
  .features .nav-link.active {
    color: #fff;
    background: #fe7028;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(63, 73, 83, 0.8);
  overflow: hidden;
  position: relative;
}


#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 35, 40, 0.6);
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}
#hero .container {
  text-align: center;
}
#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}
#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #fe7028;
}
#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#hero .carousel-indicators li.active {
  opacity: 1;
  background: #fe7028;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #fe7028;
}
#hero .btn-get-started:hover {
  background: transparent;
  border: 2px solid #fe7028;
  border-radius: 4px;

}
@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }
  #hero .carousel-container {
    top: 8px;
  }
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.navbar a, .navbar a:focus {
 text-transform: uppercase;
}

.mtt{
    margin-top:100px
}

.book{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.section-title{
    margin-top:90px;
    margin-bottom:50px
}


.btop{
    /* margin-bottom:45px !important; */
    display: inline;
    width:100%;
    background-color: #000;
    color:#fff;
    font-size:13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-left:150px; */
    /* padding-right:100px; */
    text-align: center;
    /* position: relative; */
    padding-top:10px;
    padding-bottom:0;
  
}

.move{
    padding-left:150px
}

.move1{
   padding-left:50px
}

#header{
    padding-top:80px;
    z-index: 100 !important;
}

#header.header-scrolled {
    padding-top:60px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }


.btop a{
    font-weight: 600;
    color:#fff;
    font-size:18px
}

.btop a:hover{
    color:#fe7028 ;
}

.navbar-mobile a, .navbar-mobile a:focus{
    z-index: 200;
}



.portfolio .portfolio-wrap .portfolio-links a {
    color:#fe7028
}

.easy{
    margin-top:0px !important;
    margin-bottom:0px !important;
    top:0px  !important;
}

.big{
    font-size: 60px;
    color:#fe7028;
}

.tabs,.section-bg{
  margin-top:0 !important
}

.tabs{
  background:#fe7028;
}

/* p{position:absolute;
    top:5px;
    right:20px;
    font-size:20px;
    color:white;
    /* -webkit-animation: minus 0.5s; */

    
    @keyframes minus {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    
    [aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}

 
    
      .services a {
        display: block;
        position: relative;
        font-family: #fe7028;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        padding-right: 25px;
        cursor: pointer;
      }
      
      
      .services .icon-show {
        display: none;
      }

      .services a.collapsed {
        color: #343a40;
      }

      .services a.collapsed:hover {
        color: #fe7028;
      }
      
      .services  a.collapsed .icon-show {
        display: inline-block;
      }

      .services  a.collapsed .icon-close {
        display: none;
      }
      
      .services h4{
    font-weight:0;
    color:#fe7028;
    }
    
    .who{
        color:#fe7028;
    }

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#schedule {
    padding: 60px 0 60px 0;
  }
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: #fff;
    padding: 10px 100px;
  }
  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }
  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }
  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }
  #schedule .nav-tabs a.active {
    background-color: #f82249;
    color: #fff;
  }
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  @media (min-width: 991px) {
    #schedule .sub-heading {
      width: 75%;
    }
  }
  #schedule .tab-pane {
    transition: ease-in-out 0.2s;
  }
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  #schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  #schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  #schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  #schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
  }
  
.swiper-pagination-bullet-active{
    color: #fe7028;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #000;
}